<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{/fragments/layout.html :: header}"></header>
<div class="container">
    <section>
        <header>
            <h1>Přidat klienta</h1>
            <hr>
        </header>
        <form method="post" th:object="${clientDTO}" class="container " th:action="@{/clients/create}">
            <div  th:replace="~{/fragments/clientForm :: form}"></div>
        </form>
    </section>

</div>
</body>
</html>