<!DOCTYPE html>
<html lang="cs-cz">
<head th:replace="~{/fragments/layout.html :: head}"></head>
<body>
    <header th:replace="~{/fragments/layout.html :: header}"></header>
    <article>
        <header th:replace="~{/fragments/clientDetail.html :: header}"></header>
        <section>
            <div class="container pt-3">
                <h3>Sjednané pojištění</h3>
                <hr>
                <div class="alert alert-success my-3" role="alert" th:text="${success}" th:if="${success}"></div>
                <a class="btn btn-primary pt-1" th:href="@{'/contracts/create/' + ${client.clientId}}">Přidat pojištění</a>
                <table>

                </table>
                <div class="text-end ">
                    <a class="btn btn-warning mx-1" th:href="@{'/clients/edit/' + ${client.clientId}}">Upravit klienta</a>
                    <a class="btn btn-danger mx-1" th:href="@{'/clients/delete/' + ${client.clientId}}">Odstranit klineta</a>
                </div>
            </div>
        </section>
    </article>

</body>
</html>