<!DOCTYPE html>
<html lang="cs-cz">
<head th:replace="~{/fragments/layout.html :: head}"></head>
<body>
    <header th:replace="~{/fragments/layout.html :: header}"></header>
    <div class="container">
        <article>
            <header>
                <h1>Klienti</h1>
                <hr>
            </header>
            <section class="my-5 shadow-sm">
                <a class="btn btn-primary" th:href="@{/clients/create}">Přidat Klienta</a>


                <div class="alert alert-success my-3" role="alert" th:text="${success}" th:if="${success}"></div>
                <div class="alert alert-danger my-3" role="alert" th:text="${error}" th:if="${error}"></div>

                <table class="table table-striped my-3 " id="tablePagination">
                    <thead>
                    <tr>
                        <th>Jméno</th>
                        <th>Bydliště</th>
                        <th>Datum narození</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    <tr th:each="client: ${clients}">
                        <th><a th:text="${client.firstName + ' ' + client.surname}" class=" text-decoration-none" th:href="@{'/clients/detail/' + ${client.clientId}}"></a></th>
                        <td th:text="${client.street + ', ' + client.city + ' ' + client.zipCode}"></td>
                        <td th:text="${client.birthDate.format(T(java.time.format.DateTimeFormatter).ofPattern('dd.MM.yyyy'))}"></td>
                        <td>
                            <a class="btn btn-warning" th:href="@{'/clients/edit/' + ${client.clientId}}">Upravit</a>
                            <a class="btn btn-danger" th:href="@{'/clients/delete/' + ${client.clientId}}">Smazat</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav class="py-1">
                    <ul class="pagination justify-content-center" id="pagination"></ul>
                </nav>
            </section>
        </article>
    </div>
</body>
</html>